{% extends "questions/base.html" %}
{% load static %}

{% block title %}Ask Question • OlegOverFlow{% endblock %}

{% block main %}
    <section class="questions" style="width:70%">
        <div class="stack">
            <div class="questions__title">
                <h2>New Question</h2>
            </div>

            <form class="form" action="" method="post">
                {% csrf_token %}

                {% if messages %}
                  <ul class="form__messages">
                    {% for m in messages %}<li>{{ m }}</li>{% endfor %}
                  </ul>
                {% endif %}

                {% if form.non_field_errors %}
                  <div class="form__errors">
                    {% for error in form.non_field_errors %}
                      <div class="error">{{ error }}</div>
                    {% endfor %}
                  </div>
                {% endif %}

                <div class="form__group">
                    <label class="form__label" for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                    {{ form.name }}
                    {% if form.name.help_text %}
                        <div class="form__help">{{ form.name.help_text }}</div>
                    {% endif %}
                    {% if form.name.errors %}
                        <div class="form__errors">{{ form.name.errors }}</div>
                    {% endif %}
                </div>

                <div class="form__group">
                    <label class="form__label" for="{{ form.text.id_for_label }}">{{ form.text.label }}</label>
                    {{ form.text }}
                    {% if form.text.help_text %}
                        <div class="form__help">{{ form.text.help_text }}</div>
                    {% endif %}
                    {% if form.text.errors %}
                        <div class="form__errors">{{ form.text.errors }}</div>
                    {% endif %}
                </div>

                <div class="form__group">
                    <label class="form__label" for="{{ form.tags_input.id_for_label }}">{{ form.tags_input.label }}</label>
                    {{ form.tags_input }}
                    {% if form.tags_input.help_text %}
                        <div class="form__help">{{ form.tags_input.help_text }}</div>
                    {% endif %}
                    {% if form.tags_input.errors %}
                        <div class="form__errors">{{ form.tags_input.errors }}</div>
                    {% endif %}
                </div>

                <div class="form__actions">
                    <button class="btn btn--primary" type="submit">ASK!</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}