{% extends "questions/base.html" %}
{% load static %}

{% block title %}Hot Questions • OlegOverFlow{% endblock %}

{% block main %}
<main class="main">
    <section class="questions">
        <div class="questions__title">
            <h2>Hot Questions</h2>
            <a href="{% url 'questions:index' %}">New Questions</a>
        </div>

        <div class="questions__content">
            {% for q in questions %}
            <div class="question__root">
                <div class="question__aside">
                    <img src="{% static 'questions/img/portrait.jpg' %}" alt="pic" class="question__image">
                    <input class="question__votes" type="number" value="{{ q.rating }}">
                </div>
                <div class="question__content">
                    <h3 class="question__header">
                        <a href="{% url 'questions:question_detail' q.id %}">{{ q.name }}</a>
                    </h3>
                    <p class="question__description">{{ q.short_text }}</p>
                    <div class="question__footer">
                        <a href="{% url 'questions:question_detail' q.id %}" class="question__answers">answers ({{ q.answers_count }})</a>
                        <div class="question__tags">
                            <span class="question__subtitle">Tags</span>
                            <div class="question__tags__list">
                                {% for qt in q.question_tags.all %}
                                <a class="tag" href="{% url 'questions:tag' %}?tag={{ qt.tag.name }}">{{ qt.tag.name }}</a>
                                {% empty %}
                                    <span>No tags</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="question__root"><div class="question__content"><p>No hot questions.</p></div></div>
            {% endfor %}
        </div>

        {% include 'questions/blocks/pagination.html' with objects=questions %}
    </section>
</main>
{% endblock %}
