{% load static %}
<header class="header">
  <div class="header__wrapper">
    <span class="header__logo">
      <a href="/" style="text-decoration: none; color: inherit;">
        OlegOverFlow
      </a>
    </span>
    <div class="header__search-container">
      <form method="GET" action="{% url 'questions:index' %}" class="header__search-form">
        <input type="text" name="q" class="header__search" placeholder="Search..." value="{{ request.GET.q }}">
        <button type="submit" class="header__ask-btn" style="background-color: #0056b3;">Search</button>
        <a class="header__ask-btn" href="{% url 'questions:ask' %}">ASK!</a>
      </form>
    </div>
    
    {% if user.is_authenticated %}
      <div class="header__profile">
          <img src="{% static 'questions/img/portrait.jpg' %}" alt="pic" class="header__profile__image">
          <div class="header__profile__user">
              <span class="header__profile__username">
                  <a href="{% url 'core:settings' %}">{{ user.username }}</a>
              </span>
              <form action="{% url 'core:logout' %}" method="post" style="display: inline;">
                  {% csrf_token %}
                  <button type="submit" class="header__logout-btn">Logout</button>
              </form>
          </div>
      </div>
    {% else %}
      <div class="header__auth">
        <a class="header__login" href="{% url 'core:login' %}">Log in</a>
        <a class="header__register" href="{% url 'core:register' %}">Register</a>
      </div>
    {% endif %}
  </div>
</header>

