{% load static %}

<aside class="aside">
    <div class="aside__tags">
        <span class="aside__subtitle">Popular Tags</span>
        <div class="aside__tags__list">
            {% for tag in popular_tags %}
            <a href="{% url 'questions:tag' tag %}">{{ tag }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="aside__members">
        <span class="aside__subtitle">Best Members</span>
        <div class="aside__members__list">
        {% for member in best_members %}
            <div class="aside__member">
                <a href="{% url 'core:member_detail' member.pk %}">
                    {{ member.profile.username|default:member.username }}
                </a>
            </div>
        {% empty %}
            <div class="aside__member">
                No active members yet.
            </div>
        {% endfor %}
        </div>
    </div>
</aside>