{% extends "questions/base.html" %}
{% load static %}

{% block title %}Register • OlegOverFlow{% endblock %}

{% block main %}
<section class="questions" style="width:70%">
  <div class="questions__title">
    <h2>Registration</h2>
  </div>

  <form class="form" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% if messages %}
      <ul class="form__messages">
        {% for m in messages %}<li>{{ m }}</li>{% endfor %}
      </ul>
    {% endif %}

    <div class="form__group">
      <label class="form__label" for="login">Login</label>
      <input class="form__input" id="login" name="username" type="text" maxlength="30" required>
    </div>

    <div class="form__group">
      <label class="form__label" for="email">Email</label>
      <input class="form__input" id="email" name="email" type="email" maxlength="100" required>
    </div>

    <div class="form__group">
      <label class="form__label" for="password">Password</label>
      <input class="form__input" id="password" name="password1" type="password" maxlength="64" required>
    </div>

    <div class="form__group">
      <label class="form__label" for="password2">Repeat password</label>
      <input class="form__input" id="password2" name="password2" type="password" maxlength="64" required>
    </div>

    <div class="form__group">
      <label class="form__label" for="avatar">Upload avatar</label>
      <input class="form__file" id="avatar" name="avatar" type="file" accept="image/*">
    </div>

    <div class="form__actions">
      <button class="btn btn--primary" type="submit">Register!</button>
    </div>
  </form>
</section>
{% endblock %}
