{% extends "questions/base.html" %}
{% load static %}

{% block title %}Register • OlegOverFlow{% endblock %}

{% block main %}
<section class="questions" style="width:70%">
  <div class="questions__title">
    <h2>Registration</h2>
  </div>

  <form class="form" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% if messages %}
      <ul class="form__messages">
        {% for m in messages %}<li>{{ m }}</li>{% endfor %}
      </ul>
    {% endif %}

    {% if form.non_field_errors %}
      <div class="form__errors">
        {% for error in form.non_field_errors %}
          <div class="error">{{ error }}</div>
        {% endfor %}
      </div>
    {% endif %}

    <div class="form__group"> 
      <label class="form__label" for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
      {{ form.username }}
      {% if form.username.help_text %}
        <div class="form__help">{{ form.username.help_text }}</div>
      {% endif %}
      {% if form.username.errors %}
        <div class="form__errors">{{ form.username.errors }}</div>
      {% endif %}
    </div>


    <div class="form__group">
      <label class="form__label" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
      {{ form.email }}
      {% if form.email.help_text %}
        <div class="form__help">{{ form.email.help_text }}</div>
      {% endif %}
      {% if form.email.errors %}
        <div class="form__errors">{{ form.email.errors }}</div>
      {% endif %}
    </div>

    <div class="form__group">
      <label class="form__label" for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
      {{ form.password1 }}
      {% if form.password1.help_text %}
        <div class="form__help">{{ form.password1.help_text }}</div>
      {% endif %}
      {% if form.password1.errors %}
        <div class="form__errors">{{ form.password1.errors }}</div>
      {% endif %}
    </div>

    <div class="form__group">
      <label class="form__label" for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
      {{ form.password2 }}
      {% if form.password2.help_text %}
        <div class="form__help">{{ form.password2.help_text }}</div>
      {% endif %}
      {% if form.password2.errors %}
        <div class="form__errors">{{ form.password2.errors }}</div>
      {% endif %}
    </div>

    <div class="form__group">
      <label class="form__label" for="{{ form.avatar.id_for_label }}">{{ form.avatar.label }}</label>
      {{ form.avatar }}
      {% if form.avatar.help_text %}
        <div class="form__help">{{ form.avatar.help_text }}</div>
      {% endif %}
      {% if form.avatar.errors %}
        <div class="form__errors">{{ form.avatar.errors }}</div>
      {% endif %}
    </div>

    <div class="form__actions">
      <button class="btn btn--primary" type="submit">Register!</button>
    </div>
  </form>
</section>
{% endblock %}